<div class='col-sm-4'>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><h1><%=post.title %></h1></h3>
        </div>
        <div class="panel-body">
            <p><%= post.description %></p><br>
            <p><%= image_tag post.image.url, class: 'uploaded-pic'%></p><br>
            <p><% post.tags.each do |tag| %>
                <%= link_to tag.name, tag_path(tag)%>
                <% end %></p>
                <% unless post.address.blank? %>
                <%= link_to 'Map', post_map_path(post), class: 'btn btn-success' %>
                <% end %>
            </div>
            <div class="panel-footer"><p>Posted by: <%= post.user.email %></p>
            </div>
        </div>    
    </div>