    <% unless user_signed_in? %>
    <div class="jumbotron">
    	<div class='container'>
           <h1>Welcome to Pizzagram.</h1>
           <p>This is a website that includes amazing pictures of pizzas of all flavours. Buonissimo.</p>
           <p><%= link_to 'Sign Up >>', new_user_registration_path, class:"btn btn-primary btn-lg"%></p>
       </div>
   </div>
   <%end%>
   <div class="container">
       <% if @posts.any? %>
       <div class="row">
          <% @posts.each do |post| %>
          <div class='col-sm-4'>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><h1><%=post.title %></h1></h3>
            </div>
            <div class="panel-body">
              <p><%= post.description %></p><br>
              <p><%= image_tag post.image.url, class: 'uploaded-pic'%></p><br>
          </div>
          <div class="panel-footer"><p>Posted by: <%= post.user.email %></p></div>
      </div>


  </div>
  <% end %>
</div>
<% else %>
<h1>No posts yet.</h1><br>
<% end %>
<%=	 link_to 'New Post', new_post_path, class:"btn btn-warning btn-lg" %>
</div>